<div class="col s12 tag-div">
    <div class="user-pic center-align">
        <a href="{{site.github_profile}}" target="_blank">
            <img class="circle hoverable z-depth-1" src="/assets/img/user.png">
        </a>
    </div>
    <div class="user-intro center-align">
        <i>渡望A（duwangA）</i>
    </div>
    <div class="user-intro center-align">
        <h4>一个<span class="typing-text hidden">爱刨根问底</span>的Engineer</h4>
    </div>
    <div class="user-content center-align">
        <p>
            for the sake of future.
        </p>
        <p>
            It’s not easy to learn, but perseverance is always rewarding.
        </p>
    </div>
    <br>
</div>
